{% extends "base.html" %}

{% block title %}Meu Perfil{% endblock %}

{% block content %}
<div class="container">
    <h2>Meu Perfil</h2>
    <form method="post" action="{{ url_for('perfil') }}">
        <div class="form-group">
            <label for="email">Novo Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ account.email }}">
            <button type="submit" class="btn btn-primary mt-2">Alterar Email</button>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'email' %}
                    <div class="alert alert-success mt-2">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
    </form>
    <form method="post" action="{{ url_for('perfil') }}">
        <div class="form-group">
            <label for="current_password">Senha Antiga</label>
            <input type="password" class="form-control" id="current_password" name="current_password">
        </div>
        <div class="form-group">
            <label for="new_password">Nova Senha</label>
            <input type="password" class="form-control" id="new_password" name="new_password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmar Senha</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Alterar Senha</button>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'password' %}
                    <div class="alert alert-success mt-2">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
    </form>
</div>
{% endblock %}
